.post_input {
    padding: 1rem 0 1rem 0;
}

.pfp {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    position: absolute;
}

.textarea_input {
    margin-left: 3rem;
    background-color: #fafafa;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 4rem;
    width: 30rem;
    padding: 10px;
    margin-bottom: 0.4rem;
}

.post_comment {
    margin-left: 3rem;
}
