.post {
    padding: 1rem 0 1rem 0;
}

.username {
    font-weight: bold;
    position: absolute;
}

.pfp {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}

.post_content {
    margin-left: 3rem;
}
